@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Rubik&display=swap");

/* Custom Variables */
:root {
    --site-black: #282828;
    --site-charcoal: #3a3a3a;
    --site-yellow: #f9d342;
    --site-orange: #ff8300;
    --site-dark-orange: #cc5500;
    --site-white: #e9e8ea;
    --site-alt-white: #e7ecef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--site-charcoal);
    color: var(--site-white);
    font-family: "Rubik", sans-serif;
}

/* Card Styling */

hr {
    color: var(--site-yellow);
}

.project-card {
    background-color: var(--site-black);
    border-radius: 10px;
    box-shadow: 8px 8px 12px var(--site-black);
}

.pg-list {
    height: 500px;
    width: max(30vw, 320px)
}

.card-header {

}

#task-list {
    max-height: 240px;
    overflow-y: scroll;
}

.pj-lg-body {
    max-height: 240px;
    overflow-y: scroll;
}

.card-footer {

}

/* Modal Styling*/
.modal-content {
    background-color: var(--site-black);
    border-radius: 10px;
    box-shadow: 8px 8px 12px var(--site-black);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 4px var(--site-charcoal); 
border-radius: 4px;
}

::-webkit-scrollbar-thumb {
background: var(--site-dark-orange); 
border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
background: var(--site-orange); 
}

/* Text Styling */

.headings {
    font-family: "Crete Round", serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.headings-sm {
    font-size: 1.125em;
    color: var(--site-yellow);
}

.task-title {
    text-transform: uppercase;
}

.small-ital-text {
    font-size: 0.75em;
    font-style: italic;
}

.priority {
    color: var(--site-dark-orange);
}

/* Link and Button Styling*/ 

a {
    text-decoration: none;
    color: var(--site-alt-white);
}

.prj-btn {
    color: var(--site-alt-white);
    background-color: transparent;
    border: 2px solid var(--site-orange);
    padding:  0.25em 0.5em 0.25em;
    transition: all 0.5s ease-in-out;
}

.prj-btn:hover, .prj-btn-active {
    color: var(--site-black);
    background-color: var(--site-orange);
    font-weight: 800;
    font-style: italic;
}

/* Media Queries */
@media (min-width: 1200px) {
    .project-card {
        height: 600px;
        width: 400px;
    }
}