{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
        <div class="row d-flex justify-content-evenly">
            {% for project in project_list %}
            <div class="project-card pg-list col-lg-4 col-md-6 my-4 d-flex flex-column justify-content-evenly">
                <div class="card-header text-center">
                    <h3 class="headings"><span class="project-title">{{ project }}</span></h3>
                    <span class="small-ital-text">Added by: {{ project.author }} on {{ project.created_on }}</span>
                    <div>
                        <span>Due on: {{ project.due_date|date:'d M Y' }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{ project.description }}</p>
                    <hr>
                    <div id="task-list" data-hx-get="{% url 'tasks:task_list' project_id=project.id %}" data-hx-trigger="load">
                        {% include 'tasks/task_list.html' %}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between mb-2">
                    <a class="prj-btn"
                    data-hx-get="{% url 'tasks:project' project_id=project.id %}"
                    data-hx-target="#modal-dialog">View</a>
                    {% if user.is_authenticated and user == project.author %}
                    <a class="prj-btn"
                    data-hx-get="{% url 'tasks:edit_project' project_id=project.id %}"
                    data-hx-target="#modal-dialog">Edit</a>
                    <a class="prj-btn"
                    href="{% url 'tasks:delete_project' project_id=project.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock %}